<form
  #loginForm="ngForm"
  class="login"
  (ngSubmit)="login(loginForm)"
  autocomplete="off">
  <div class="login__input">
    <input
      type="text"
      name="username"
      ngModel
      placeholder="Ingresar usuario"
      required >  
  </div>
  <div class="login__input">
    <input
      type="password"
      name="password"
      ngModel
      placeholder="Ingresar contraseña"
      required >
  </div>
  <button
    class="login__button"
    type="submit"
    [disabled]="loginForm.invalid">Iniciar sesion</button>
</form>
